body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background {
    color: white;
  }
  .title {
    text-align: center;
  }

  /* 리스트 css */
  .guestBook {
    text-align: center;
    margin-top: 80px;
  }

  .list_container{
    display: flex;
  }

  .guestBook_name {
    margin-left: auto;
  }

  .guestBook_update{
    margin-left: 3px;
  }

  .guestBook_delete{
    margin-left: 3px;
  }


  /* 등록, 수정 css */
  .posting {
    width: 800px;
    text-align: center;
    display: none;
  }
  .posting.on{
    /* color: black; */
    display: block;
  }

  .update {
    width: 800px;
    text-align: center;
    display: none;
  }
  .update.on{
    /* color: black; */
    display: block;
  }
  
  input[type=text] {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }

  input[type=password] {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }

  textarea {
    width: 593px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-top: 15px;
    resize: none;
  }

  .footer {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .guestBook_id {
    margin-right: 80px;
  }

  .guestBook_update_id{
    margin-right: 40px;
  }

  /* 버튼 */
  .custom-btn {
      margin: 0;
      border: 0;
      font-size: 18px;
      position: relative;
      margin-left: 3px;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 60px;
      cursor: default;
  }

  .custom-btn:hover {
    cursor: pointer;
    
  }
