* {
    background-color: #141414;
    color: white;
    font-family: 'BMJUA';
  }
  @font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .footer_navi {
    text-decoration: none;
  }

  .header {
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 30px;
    margin-top: 3%;
  }
  
  .title{
    font-size:50px;
    text-align: center;
  }

  .main_content {
    margin: 0px auto;
    padding: 160px 70px 160px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image_content {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .image_background {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
  }
  
  .image_potato {
    background-color: transparent;
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .text_content {
    width: 600px;
  }
  
  .first_text > h2 {
    padding-left: 70px;
    font-size: 35px;
  }
  
  .second_text > h1 {
    text-decoration: underline;
    font-size: 40px;
  }
  
  .third_text > h2 {
    padding-left: 100px;
    font-size: 35px;
    margin-bottom: 50px;
  }
  
  /* 하단 막대 */
  .footer {
    text-align: center;
    padding-top: 58px;
  }

  ul {
    list-style:none;
  }

  .our_rule{
    margin-top: 30px;
  }
  
