<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 폰트어썸 아이콘 -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <title>Speaking Potato</title>
  </head>

  <body>
    <!-- 상단 제목 -->
    <div class="header">
      <h2>Speaking Potato</h2>
    </div>

    <div class="main_content">
      <!-- 좌측 이미지 -->
      <div class="image_content">
        <div class="image_background">
          <img
            class="image_potato"
            src="/static/images/저는 감자에용!.png"
            alt="이미지오류"
            width="180px"
          />
        </div>
      </div>
      <!-- 우측 texts -->
      <div class="text_content">
        <span class="first_text">
          <h2>안녕하세요!</h2>
        </span>
        <span class="second_text">
          <h1>"쑥쑥 자라나는"</h1>
        </span>
        <span class="third_text">
          <h2>팀 <b>말하는감자</b> 입니다 :></h2>
        </span>
      </div>
    </div>

    <!-- 하단 막대 -->
    <div class="footer">
      <!-- <button><</button>
      <p style="color: white; font-size: 20px">&nbsp;● &nbsp;○ &nbsp;○&nbsp;</p>
      <button>></button> -->
      <p>좌000우</p>
    </div>
  </body>
</html>
