<!DOCTYPE html>
<html lang="en">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/static/css/member_style.css" />

  <head>
    <meta charset="UTF-8" />
    <title>Speaking Potato</title>
  </head>

  <body>
    <div class="header">
      <h1 class="title">Speaking Potato</h1>
    </div>
    <div class="wrapper">
      <ul class="team">
        <li class="team-item">
          <div class="profile">
            <img src="/static/images/안진님.png" />
            <div class="profile-contents">
              <h2>An jin<span>ISFP</span></h2>
              <br />
              <p>
                안녕하세요 저는 도비가 되고싶은 김재영 이에요, mbti는 ENFJ이고
                나이는 21살 이에요. 말하는 감자들에서 팀장을 맡고있고, 얼른 싹을
                틔우고 싶어요.
              </p>
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="profile">
            <img src="/static/images/송주님.png" />
            <div class="profile-contents">
              <h2>Song ju<span>ISFJ</span></h2>
              <br />
              <p>
                안녕하세요 저는 도비가 되고싶은 김재영 이에요, mbti는 ENFJ이고
                나이는 21살 이에요. 말하는 감자들에서 팀장을 맡고있고, 얼른 싹을
                틔우고 싶어요.
              </p>
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="profile">
            <img src="/static/images/재영.png" />
            <div class="profile-contents">
              <h2>Jae young<span>ENFJ</span></h2>
              <br />
              <p>
                안녕하세요 저는 도비가 되고싶은 김재영 이에요, 팀 내 유일한
                'E'입니다! 나이는 21살 이에요. 말하는 감자들에서 팀장을
                맡고있고, 얼른 싹을 틔우고 싶어요.
              </p>
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="profile">
            <img src="/static/images/다연님.png" />
            <div class="profile-contents">
              <h2>Da yeon<span>INFP</span></h2>
              <br />
              <p>
                안녕하세요 저는 도비가 되고싶은 김재영 이에요, mbti는 ENFJ이고
                나이는 21살 이에요. 말하는 감자들에서 팀장을 맡고있고, 얼른 싹을
                틔우고 싶어요.
              </p>
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="profile">
            <img src="/static/images/무겸님.png" />
            <div class="profile-contents">
              <h2>Mu gyeom<span>INFP</span></h2>
              <br />
              <p>
                안녕하세요 저는 도비가 되고싶은 김재영 이에요, mbti는 ENFJ이고
                나이는 21살 이에요. 말하는 감자들에서 팀장을 맡고있고, 얼른 싹을
                틔우고 싶어요.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer">
      <a href="#" vlink="white" alink="white">&lt;</a> O O O
      <a href="#" vlink="white" alink="white">&gt;</a>
    </div>
  </body>
</html>
